@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: whitesmoke;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
    margin-top: 300px;
    
}

h1 {
    font-weight: bold;
}

p {
    font-size: 2rem;
}
